.tab-pane:focused .focus-indicator {
    -fx-border-color: transparent;
}

.root, .headers-region, .tab-header-background {
    -fx-background-color: #DDDDDD;
}

.tab {
    -fx-font-size: 16px;
    -fx-border-radius: 10px 10px 0px 0px;
    -fx-background-radius: 10px 10px 0px 0px;
    -fx-padding: 5px 10px 5px 10px;
}

.search-bar {
    -fx-padding: 12px;
    -fx-border-insets: 8px;
    -fx-background-insets: 8px;
    -fx-font-size: 18px;
}