.root {
    -fx-padding: 10px;
}

.emoji-name {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.emoji-unicode {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-text-fill: #777777;
    -fx-padding: 0px 0px 5px 0px;
    -fx-max-width: 150px;
    -fx-text-overrun: ellipsis;
}

.copy-button, .favorite-button {
    -fx-border-color: #888888;
}

.copy-button {
    -fx-graphic: url("../images/ic_content_copy_black_18dp.png");
}

.copy-button.copied {
    -fx-font-style: italic;
}

.favorite-button {
    -fx-graphic: url("../images/ic_favorite_border_black_18dp.png");
}

.favorite-button.favorited {
    -fx-graphic: url("../images/ic_favorite_black_18dp.png");
}